.DS_Store
*.log
node_modules/
dist/
*~
nbproject/private/
*.suo
*.user
silverlight/obj
silverlight/bin
*.wmv
*.wma
*.mp3
*.mp4
*.wav
*.flac
*.xap
build/
silverlight/.nuget/NuGet.Config
silverlight/.nuget/NuGet.exe
silverlight/packages